@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-900 text-slate-100 font-Inter;
}

body {
  @apply  px-5 lg:px-20; 
}

h1 {
  @apply text-6xl font-bold text-center;
}

p {
  @apply text-lg font-Inter;
}
